{% extends 'base.html.twig' %}

{% block content %}

<section class="mt-5">
    <div class="">


      <div class="p-3 m-0 pl-5 w-100 bg-color text-white">
        <h3>Ajouter un nouveau patient à la base de donnée</h3>
      </div>
      <div class="row p-3 pl-5 w-100 bg-white m-0 mb-5 pt-5">
        <div class="col-7">

          <div style="min-height: 200px" class="">
            <form class="form-horizontal" action="/pationadd" method="post">
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="Nom">Nom:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="Nom">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="Prenom">Prenom:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="Prenom">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="Email">Email:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="Email">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="Numerotel">Numero tel:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="Numerotel">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="Adress">Adresse:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="Adress">
                </div>
              </div>

              <hr>

              <div class="row mb-2">
                <label class="control-label col-sm-2" for="code">Code:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="code">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="num_entree">Numéro d'entrée:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="num_entree">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="suivipour">Suivi pour:</label>
                <div class="col-sm-9">
                  <select class="form-control" type="text" name="suivipour">
                    <option value="" disabled selected>Veuillez choisir</option>
                    <option value="pr">PR</option>
                    <option value="spa">SPA</option>
                  </select>
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="biotherapieencours">Biothérapie en cours:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="biotherapieencours">
                </div>
              </div>
              <div class="row mb-2">
                <label class="control-label col-sm-2" for="assurance">Assurances Maladie:</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="assurance">
                </div>
              </div>

              <hr>

              <input class="form-control" type="text" hidden value={{ "now"|date("m/d/Y") }} name="AddDate">
              <input class="form-control" type="text" hidden value={{ "now"|date("m/d/Y") }} name="datevisite">
              <div class="w-100 text-center">
                <input type="submit" value="Annuler " class="btn btn-secondary pl-5 pr-5 bg-dark btn-sm">
                  <input type="submit" value="Ajouter le nouveau patient " class="btn btn-secondary pl-5 pr-5 bg-dark btn-sm">
              </div>

            </form>
          </div>
        </div>
        <div class="col-4 border-left pl-4">
          <h5>Listes des patients présent dans la base de donnée:</h5>
          <ul>
            {% for item in Patients %}
              <li>
                {{ item.getNom | capitalize }}
                {{ item.getPrenom | capitalize }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
</section>




{% endblock %}
