{% extends 'base.html.twig' %}

{% block title %}
  Welcome | Bienvenu{% endblock %}

{% block content %}
<div class="mt-5 container pt-3">
  <div class="bg-white">

  </div>
  <div id="LoginRegister">

  </div>

</div>

  <script src="{{asset('build/loginregister.js')}}"></script>

{% endblock %}

{% block footer %}{% endblock %}
