{% extends 'base.html.twig' %}

{% block content %}




<section class="mt-5">
        <div class="p-3 m-0 pl-5 w-100 bg-color text-white">
          <h3> Création de nouveau questionnaire  </h3>
        </div>
        <div class="row p-3 m-0 pl-5 w-100 bg-white">
          <div class="col-6">
            <div class="p-3 m-0 pl-5 w-100 bg-white">
              <div class="p-3">
                <form class="form-horizontal" action="/survey/addAction" method="post">
                  <div class="row mb-3">
                    <div class="col-3 ">
                      <label for="">Titre du Questionnaire</label>
                    </div>
                    <div class="col-9">
                      <input class="form-control" type="text" name="Title">
                    </div>
                  </div>
                  <div class="row  mb-3">
                    <div class="col-3">
                      <label for="">Description du Questionnaire</label>
                    </div>
                    <div class="col-9">
                      <textarea class="form-control" type="text" name="Description"></textarea>
                    </div>
                  </div>
                  <hr>
                  <div class="row mb-2">
                    <div class=" col-sm-12 text-right">
                      <input type="submit" class="btn bg-color pl-5 pr-5" value="Suivant" >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
            <div class="col-5 text-center">
              <img src="/img/qs.png" alt="">
            </div>
          </div>
        </div>
</section>









<script type="text/javascript">

$(document).ready(function(){

   var counter = 2;

   $("#addButton").click(function () {
     alert('alll');

 if(counter>10){
           alert("Only 10 textboxes allow");
           return false;
 }

 var newTextBoxDiv = $(document.createElement('div'))
      .attr("id", 'TextBoxDiv' + counter);

 newTextBoxDiv.after().html(
   '<div  class="row mb-3" id="textbox'+counter+'">'+
     '<div class="col-1"></div>'+
     '<div class="col-3"><label>Option'+counter+'</label></div>'+
     '<div class="col-7"><input type="text"  name="option[]" class="form-control" /></div>'+
   '</div>');


 newTextBoxDiv.appendTo("#TextBoxesGroup");


 counter++;
    });

    $("#removeButton").click(function () {
 if(counter==1){
         alert("No more textbox to remove");
         return false;
      }

 counter--;

       $("#TextBoxDiv" + counter).remove();

    });

    $("#getButtonValue").click(function () {

 var msg = '';
 for(i=1; i<counter; i++){
     msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
 }
       alert(msg);
    });
 });
</script>
<script type="text/javascript">
  function formupdate() {
      var selectedPackage = document.getElementById("select").value;
      document.getElementById('options').style.display = "block";
      if ( document.getElementById("select").value != 'select' && document.getElementById("select").value != 'checkbox' ) {
           document.getElementById('options').style.display = "none";
      }
  }
</script>


{% endblock %}
